pkg/*
*.gem
.bundle

# don't vc this, http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
Gemfile.lock

capybara*html
bin/
.rspec
.rbenv-version
.akephalos/
.idea
.ruby-version
